.show {
    display:flex;
  }
  
  .hide {
      display:none;
  }
  
  .btm-margin {
    margin-bottom:1.4rem;
  }
  
  .basic-popup-cta {
      justify-content:center;  
      align-content:center;
  }
  /* Background tint */
  .background-opt {
    background-color: black;
    width: auto;
    height: 100%;
    color: black;
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 600;
    display: block;
    background: rgba(0, 0, 0, 0.55); 
    opacity: 0;
    animation: fadeIn 0.4s linear forwards;
  }
  
  /* Box Background */
  .popup-opt {
    top:30%;
    min-width: 633px;
    position: fixed;
    z-index: 900;
    border-radius: 6px;
    border: white;
    padding: 30px 40px;
    opacity: 0;
    transform: translateY(120px);
    animation: fadeIn 1.1s cubic-bezier(1,0,.5,1) forwards;
    box-shadow: 0 8px 14px -2px rgba(0,0,0,0.4);
    background-color:white;
  }
  
  /* Box Container */
  .box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom: 25px;
  }
  
  /* Close Button */
  .close-btn-opt {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    /*content: url("https://cdn.optimizely.com/img/134769299/e74d3514004040c59f1bd9084735be4c.png");*/
    transition: all ease 0.5s;
       color:black;
    opacity:0.3;
  }
  
  .close-btn-opt::before, .close-btn-opt::after {
    content: "";
    background: #000;
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    transform: rotate(45deg);
  }
  
  .close-btn-opt::after {
    transform: rotate(-45deg);
  }
  
  .close-btn-opt:hover {
    opacity:1;
    transform: scale(1.1);
  }
  
  /* box text */
  .popup-title {
    text-align:center; 
  }
  
  .popup-title h3 {
    line-height: 1.3em;
    margin-bottom: 0;
  }
  
  .popup-title .divider {
    height: 1px;
    background: #0D52FF;
    width: 100%;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .box-title {
      font-size:18px !important;
    margin:0px;
  }
  
  .box .box-text { 
    color:#5D5D69;
    padding-top:5px;
    margin:0px;
    text-overflow: clip;
    font-size: 0.9rem;
    line-height: 1.4em;
    padding-bottom: 5px;
  }
  
  /* Blue Arrow */
  .blue-arrow {
    content: url("https://www-cdn.bigcommerce.com/assets/icon-blue-arrow-right.svg?_gl=1*4a62do*_ga*NjkzNTM2OTgxLjE2NTE1OTM5MzM.*_ga_WS2VZYPC6G*MTY1MjIxMDY0OC43NS4xLjE2NTIyMTA2NzQuMzQ.&_ga=2.201332561.1578439617.1652207219-693536981.1651593933");
    position:relative;
    transition: all ease-out 0.3s;
    transform: translate(0, 3px);
  }
  
  .box:hover .blue-arrow {
    transform: translate(5px, 3px);
  }
  
  /* All box styles */
  .box {
    border-style: solid !important;
    border-color: #D1D7E0;
    border-width: 1px;
    width: 100%;
    max-width:275px;
    height:auto;
    position: relative;
    margin-top: 30px;
  }
  
  .box1, .box2 {
      margin-right:15px
  }
  
  .box > a.popupBtn-opt {
    padding-left: 15px;
    padding-right: 20px;
    display: block;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px;
  }
  
  /* Recommended Choice */
   .rec-border {
    border-style: solid !important;
    border-color: #0D52FF;
    border-width: 2px;
    border-radius: 0px 5px 5px 5px;
  }
  
  .rec-box {
    width: auto;
      height: 25px;
    background-color:#0D52FF;
    color:white;
    border-radius: 5px 5px 0px 0px;
      padding: 6px 8px;
      font-size:11px;
    letter-spacing:1px;
    display:none;
    text-transform: uppercase;
    font-weight:bold;
    position: absolute;
    bottom: 100%;
    left: -2px;
  }
  
  @keyframes fadeIn {
    0%{}
    100%{transform:translate(0, 0); opacity: 1;}
  }
  
  @media only screen and (max-width:768px) {
    .box-container {
      display: block;
    }
    
    .box-container .box {
      margin-left: auto;
      margin-right: auto;
    }
    
    .popup-opt {
      top:10%;
    }
    
    .popup-title .divider {
      margin-bottom: 40px;
    }
  }
  
  
  @media only screen and (max-width: 500px) {
    .popup-title {
      width: 100%; 
      }
    
    .popup-title h3 {
      font-size: 1.4rem;
    }
    
    .popup-opt {
      top:10%;
      display:flex;
      flex-wrap:wrap;
      min-width: 0;
      justify-content:center;
      align-content:space-between;
      max-width: 100%;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .box-container{
          display: block;
      }
    
    .box {
          margin-right:0;
      margin-top: 15px;
      }
    
    .btm-margin {
      margin-bottom:0;
    }
    
  }
  