<div id="optimizely-extension-{{ extension.$instance }}" class="wistia-video-with-play-button">
    <figure>
      <p>
        <span class="wistia_embed wistia_async_0fgs40sn15 popover=true popoverContent=link wistia_embed_initialized"     style="display:inline; position:relative" id="wistia_0fgs40sn15">
          <div id="wistia_41.thumb_container" class="wistia_click_to_play" style="position: relative; display: inline;">
            <a href="#wistia_0fgs40sn15">
              <img src="https://www-cdn.bigcommerce.com/assets/Watch-vieo-play-button.png">
            </a>
            </div>
          </span>
        </p>
    </figure>
  </div>
  
  
  <!--<div id="optimizely-extension-{{ extension.$instance }}" class="wistia-video-with-play-button">
  <script async src="//fast.wistia.com/assets/external/E-v1.js"></script>
    <span class="wistia_embed wistia_async_0fgs40sn15 popover=true">&nbsp;</span>
    <a href="#wistia_0fgs40sn15"> <img alt="01 Hero" class="lozad" data-loaded="true" 
     data-src="https://www-cdn.bigcommerce.com/assets/Watch-vieo-play-button.png" height="912" 
     src="https://www-cdn.bigcommerce.com/assets/Watch-vieo-play-button.png" title="01 Hero" width="109" />
    </a>
  </div>
  -->