<div id="optimizely-extension-{{ extension.$instance }}" class="mm-ent-styling">
    <input type="hidden" id="typeId" name="typeId" value="{{ extension.type }}" />
    <div class="background-opt"></div>
      <div class="popup-opt-basic">
          <div class="close-btn-opt-basic">X</div>
          <div class="popup-title-opt-basic">{{ extension.title }}</div>
          <br />
          <a class="button popupBtn-opt-basic" href="{{extension.cta_link}}" target="_blank">{{ extension.buttonText }}</a>
      </div>
  
      <div class="popup-opt-image">
          <div class="close-btn-opt-image">X</div>
          <div class="popup-title-opt-image">{{ extension.title }}</div>
          <br />
          <a class="button popupBtn-opt-image" href="{{extension.cta_link}}">{{ extension.buttonText }}</a>
      </div>
  
      <div class="popup-opt-image2">
          <div class="close-btn-opt-image2">X</div>
          <div class="popup-title-opt-image2">{{ extension.title }}</div>
          <br />
          <a class="button popupBtn-opt-image2" href="{{extension.cta_link}}">{{ extension.buttonText }}</a>
      </div>
  
  </div>